## Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
%matplotlib inline

## Load data

In [2]:
df = pd.read_csv("winemag-data_first150k.csv") 
del df['Unnamed: 0']
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [3]:
df.describe()

              points          price
count  150930.000000  137235.000000
mean       87.888418      33.131482
std         3.222392      36.322536
min        80.000000       4.000000
25%        86.000000      16.000000
50%        88.000000      24.000000
75%        90.000000      40.000000
max       100.000000    2300.000000

## Predict the price of a wine?

How many missing values are there in the variety column?

In [4]:
df.isnull().sum()/df.shape[0]*100

country         0.003313
description     0.000000
designation    30.302127
points          0.000000
price           9.073743
province        0.003313
region_1       16.603724
region_2       59.615053
variety         0.000000
winery          0.000000
dtype: float64

No values are missing in variety column. <br/>
9% of the values are missing in the price column.

In [5]:
df = df.dropna(subset=['price'])
df = df.dropna(subset=['country'])

Let´s add a description length since we have seen that it had a correlation with the price value

In [6]:
df['description_len'] = df['description'].apply(len)

## Gestion of the categorical columns

In [7]:
cat_df = df.select_dtypes(include=['object'])

In [8]:
print("There are {} columns with categorical variables in this dataset".format(cat_df.shape[1]))

There are 8 columns with categorical variables in this dataset

In [9]:
cat_df.head()

,country,description,designation,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [10]:
print("{} of the categorical columns have no missing values".format(np.sum(np.sum(cat_df.isnull())==0)))

5 of the categorical columns have no missing values

In [11]:
print("{} of the categorical columns have more than 50% missing values".format(np.sum(np.sum(cat_df.isnull())/cat_df.shape[0]>0.5)))

1 of the categorical columns have more than 50% missing values

In [12]:
print("{} of the categorical columns have more than 75% missing values".format(np.sum(np.sum(cat_df.isnull())/cat_df.shape[0]>0.75)))

0 of the categorical columns have more than 75% missing values

In [49]:
def clean_data(df):
    '''
    INPUT
    df - pandas dataframe 
    
    OUTPUT
    X - A matrix holding all of the variables you want to consider when predicting the response
    y - the corresponding response vector
    
    Perform to obtain the correct X and y objects
    This function cleans df using the following steps to produce X and y:
    1. Drop all the rows with no salaries
    2. Create X as all the columns that are not the Salary column
    3. Create y as the Salary column
    4. Drop the Salary, Respondent, and the ExpectedSalary columns from X
    5. For each numeric variable in X, fill the column with the mean value of the column.
    6. Create dummy columns for all the categorical variables in X, drop the original columns
    '''
    # Drop all the rows with no price
    df = df.dropna(subset=['price'], how='any', axis=0)
    
    # Create y as the price column
    y = df['price']
    
    # Create X as all the columns that are not the Salary column
    # Drop the price, description, region_1, region_2, winery, designation, province, variety from columns from X
    df = df.drop(['price', 'description', 'region_1', 'region_2', 'winery', 'designation', 'province', 'variety'], axis=1)

    #  For each numeric variable in X, fill the column with the mean value of the column.
    num_cols = df.select_dtypes(include=['int', 'float']).columns
    for col in num_cols:
        df[col].fillna((df[col].mean()), inplace=True)
        
    # Create dummy columns for all the categorical variables in X, drop the original columns
    cat_vars = df.select_dtypes(include=['object']).copy().columns
    for var in  cat_vars:
        # for each cat add dummy var, drop original column
        df = pd.concat([df.drop(var, axis=1), pd.get_dummies(df[var], prefix=var, prefix_sep='_', drop_first=True)], axis=1)
    
    X = df
    return X, y    

    
#Use the function to create X and y
X, y = clean_data(df)

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.50, random_state=42)

lm_model = LinearRegression(normalize=True)
lm_model.fit(X_train, y_train)

y_test_preds = lm_model.predict(X_test)
print("The r-squared score for the model is {}".format(r2_score(y_test, y_test_preds)))

The r-squared score for the model is 0.24121852000329613

## Conclusion